.root {
  padding: 1rem;
  position: relative;
}

.media {
  padding-right: 1rem;
}

.time {
  margin-top: .5rem;
}

.del {
  display: none !important;
  position: absolute !important;
  right: 1.5rem !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
}

.root:hover .del {
  display: inline-block !important;
}
